body {
    background-color: black;
    color: white;
    background-image: url('ChatsworthMarlow.jpg');
    background-position: 0 40px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

a {
    color: #248478;
}

a:hover {
    color: #44a498;
}

.container {
    padding: 0;
}

.App {
    font-family: sans-serif;
    margin-top: 0;
}

.App .navbar-brand {
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12pt;
    padding-left: 0.3em;
}

.App .navbar-brand:hover {
    color: #fa0;
}

.navbar-container {
    background-color: black;
    padding: 0;
    height: 40px;
}

.main-nav {
    padding: 0;
}

.main-nav .btn {
    border-radius: 0;
    min-width: 120px;
    border: 0px solid transparent;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12pt;
}

.main-nav .nav-item:hover {
    color: #fa0;
}

.current-date.btn {
    font-size: 10pt;
    padding-top: 9px;
    text-transform: none;
    color: #248478;
}

.current-date.btn:hover {
    color: #248478;
}

.sub-nav {
    min-height: 60px;
    height: 60px;
    text-transform: uppercase;
}

.sub-nav .btn {
    border-radius: 0;
    border: 0px solid transparent;
    color: #fff;
    min-width: 120px;
}

.sub-nav .btn:hover {
    color: #fa0;
}

div.main-content {
    font-size: smaller;
    background-color: white;
    color: black;
    min-height: 800px;
}

header {
    font-size: 3em;
    padding: 2em 40px 0;
    color: white;
    text-shadow: 2px 2px 4px #00000099;
}

div.inner-content {
    padding: 40px;
}

.sub-nav {
    background-color: black;
}

.sub-nav .btn {
    color: #64c4b8;
}

.sub-nav .btn.active {
    color: white;
}

.personAncestors td {
    vertical-align: middle;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .main-nav .btn {
        width: auto;
        padding-top: 0.2em;
    }
}
