ul.descendant-tree {
    span.descendant-titles a {
        color: #d90;
    }

    span.deceased {
        color: #999;

        a {
            color: #666;
        }

        span.descendant-titles a {
            color: #d90;
        }
    }

    span.living {
        a {
            font-weight: bold;
        }
    }

}
